* {
  box-sizing: border-box;
}
.bgimg {
  background-image: url('https://uivjxg-bn1305.files.1drv.com/y4mO-8FTikdAyWFzI-ZNLerJVcvOcwkrKApXPWZkrUA7VevxPTvg7CL8iRbcoXapyFOxUMgw5kRBdnz7X2Exumfhc0rtnZTmEFW0QoISKY4qsq4b8FzBYdwpMN-eyNuYM_i17JlQ6moU_azhQ3K_WOXoVL_IeuSrvWzf6i6bQugpD-o-PUPA2VrV0lj1tSOoBUwp0mfimmcc6IkRK9r2ZQmTA');
}
.navbar { 
  border-radius:0; 
  margin:0;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

p{
  text-align: justify;
  text-justify: inter-word;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
  font-family:'Times New Roman', Times, serif;
  font-size: 18px;
  color:#505050;
}
body{
  background-color:#F5F5F5;
}

.modal-body{
  width: auto;
}
