<div class="jumbotron text-center bgimg" style="float:top">
	<h1 style="color:#F5F5F5;font-family:'Times New Roman', Times, serif;font-style:italic">The Ignored</h1>
</div>
<div style="float:bottom">
	<p>
		The unkempt, scruffy man parading around a cardboard sign in a silent plea is enough for a long hard look at Mr. Lincoln in the wallet. The money should go to a worthy cause, a vector of benevolence to one in need. Hmmm, Abe would be better spent on the daily cappuccino instead of some homeless guy’s “food” (probably drugs). Besides, you need the caffeine. When the TV chances upon the news segment following the family under the bridge, you quickly change the channel; surely it’s more fun to watch the Splash Brothers rain threes than worry about those who, when it actually rains, shelter under the trees. The general consensus about homelessness, a dire issue deserving attention, is betrayed by the paradoxical reality: no one really cares. 
	</p>
	<p>
		What most don’t realize is that many homeless face discrimination that most would never encounter. A UC Berkeley homeless study breaks down the anti-homeless laws in the 58 most populous California cities into four categories: (1) standing, sitting, and resting in public places; (2) sleeping, camping, and lodging in public places, including in vehicles; (3) begging and panhandling; and (4) food sharing. Quoted from that study: “All 58 most populous California cities have at least one municipal code restricting daytime activities like standing, sitting, and resting.” San Francisco, Palo Alto, and Santa Cruz are just a few of the cities that have passed Sit-Lie Ordinances, laws that restrict sitting or lying down in public places. Even in our own San Jose, impromptu homeless feedings are banned due to “health concerns”.

		If you agree that measures should be taken to protect basic homeless rights through legislation, please take a minute of your time to sign the petition below.
	</p>
	<br>
<!-- 	<div align="center" style="padding-bottom:50px">
		<p style="text-align:center">
			Donations are greatly appreciated. All funds go towards providing the homeless with food, clothes, and other services.
		</p>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="ZSRUXRKU5VCDL">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
		</div> -->
		<div style="padding-right:3%;padding-left:3%">
			<div class="row">
				<div class="column">
					<div class="content" ng-click="home.open('https://www.ipetitions.com/petition/homeless-employment')">
						<img src="https://l3evla.bn.files.1drv.com/y4mAF8jcgmgJKN1oTXpZBrQy67DyEItQZ_uVticL9lv0G_jRZwbu95ikKxen-sbWJqCvEISgcOXusMDD11SXFEALFi4tarbJ_YsGvEDhGEGxv0T3mUo9UW6a156hFE3uQh890xBc1SZWxgRtLR_KdIV-r_U3usgHujhcxw-fCeYwxyC0gmyWvhIE1NUnmyNbE8qC8sDAo09se6q8KBcXN2RDA" style="width:100%">
						<p class="normal">Sign the petition here</p>
					</div>
				</div>
				<div class="column">
					<div class="content" ng-click="home.open('https://poseidon01.ssrn.com/delivery.php?ID=266082064082024031091029111081000000101015002033002030090083117006070085106067018007029026017010047102021126108001029072104002104082030064006073090028120077097076062002033127115088018125086009098089127103092003109082074114003089089089024101008026126&EXT=pdf')">
						<img src="https://l3flfq.bn.files.1drv.com/y4mFLtQgftESvAbP1vaq9B1mnF7TiChTI7UIcE8YPNfXz_yEc8VEr-UxvGt6p9Rv33XYHla_3jLSQ27rqVfLgTHphqvCqeQFBtdraT6Zyv6oyG8L0UWg5i3TTDH-mpDs8AdW5ZaeoFWeKH6ICZSEDuQz3tLA_w4BeJIRAFnhMBVJz8-9FFUBVm-NIqchyLX7Eh-amCMxv_x_89k_XuoHJRXew" style="width:100%">
						<p class="normal">View the UC Berkeley study</p>
					</div>
				</div>
				<div class="column">
					<div class="content" ng-click="home.open('https://ballotpedia.org/San_Francisco_Sit-Lie_Ordinance,_Proposition_L_(November_2010)')">
						<img src="https://l3ea8g.bn.files.1drv.com/y4mNQ-NoSUObzNuoms-Xhbsitz-uHzSY_peCn5ccnlbyVmzV5XBTEYYzJ44DibXVc2OwB2Hd1S9cItZGb3hrX-z8Nrzi-Amc4p9SRdaGlopI41q6jyhQsZG7thH38zEFLtc-JFZ3DnXuT2j16ItgnGO-36e_TkUNQ-VK-3MQQroszzhTq3IkkEE7I1pS_hHgqjzE9OFgRUaaIR3xSkH0EnsdA" style="width:100%">
						<p class="normal">San Francisco Site-Lie Ordinance</p>
					</div>
				</div>
				<div class="column">
					<div class="content" ng-click="home.open('http://sanfrancisco.cbslocal.com/2017/07/25/san-jose-orders-volunteers-stop-feeding-homeless/')">
						<img src="https://l3hkca.bn.files.1drv.com/y4mIQ9xnlDRD9-qzMJOhbs0aHc7b-IMdNoWJkWlqhBJ2t_Xoe5ta_QPMx39DYe-GQBTLq1hI7XyfuOpKQVknfS5CuB4bHthdi68sCj3KS8j3X-j5KmRo6B1VH6PFthl1NWnKdVrR5NTR5bZEd1EO1_E_GKkSDeRQbc27qC0m-cmBx9WpL9j6K27n9dJL54E7MvHjODRRjb1asdgeH6-m3u5Og" style="width:100%">
						<p class="normal">San Jose bans homeless feedings</p>
					</div>
				</div>
			</div>
		</div>