<div style="padding-right:1%;padding-left:1%">

<div class="row"> 
	<div class="column">
		<img ng-click="main.show('C471482BB276A86E&resid=C471482BB276A86E%21470&authkey=AD7SbZrn6E_6BWg', 'https://uivqrw-bn1305.files.1drv.com/y4m1tCyX5t8h1IgpCYyxN_hVIULBMLROD0srNHETQUjhSupEOfMTHyxuvppwzrB4qwRvBRC7-jh_NoipFhRVUgm4MzvFbzy2Q9u5XKTgmM9iwSK9eTN52uv-IfM0xUSQ_oG2lTcj25L5pc6UIQd3uP7YFT8hxMTN6SbfNBAId-7rGJYKa4ZAKBTUEmIlHAIpQalOfawfK714UG30I4ESHTRDQ')" src="https://uivqrw-bn1305.files.1drv.com/y4m1tCyX5t8h1IgpCYyxN_hVIULBMLROD0srNHETQUjhSupEOfMTHyxuvppwzrB4qwRvBRC7-jh_NoipFhRVUgm4MzvFbzy2Q9u5XKTgmM9iwSK9eTN52uv-IfM0xUSQ_oG2lTcj25L5pc6UIQd3uP7YFT8hxMTN6SbfNBAId-7rGJYKa4ZAKBTUEmIlHAIpQalOfawfK714UG30I4ESHTRDQ" style="width:100%">
	</div>
	<div class="column">
		<img ng-click="main.show('C471482BB276A86E&resid=C471482BB276A86E%21471&authkey=AHysaVD-TOZiu3Q', 'https://uixkog-bn1305.files.1drv.com/y4mL4MkyUbJGq1vwII-AxkDV_wPOQpvs4V5sJGL8ch8gNJCyJzU5WZIVuJRADVmt3m_lJss2NxzLKDUlXGFRsWen_IsRf99AaeKXqX9q513SWbU6TyFm9KVffcNI88AC3GUGCVTasRZEEmRea6u4U3rd6NP7zGRdG1en-SaN5gAvF_b2o45qt2ECJT6AVBO2D9NGlLnWL7oj1Fb1L75_4-zig')" src="https://uixkog-bn1305.files.1drv.com/y4mL4MkyUbJGq1vwII-AxkDV_wPOQpvs4V5sJGL8ch8gNJCyJzU5WZIVuJRADVmt3m_lJss2NxzLKDUlXGFRsWen_IsRf99AaeKXqX9q513SWbU6TyFm9KVffcNI88AC3GUGCVTasRZEEmRea6u4U3rd6NP7zGRdG1en-SaN5gAvF_b2o45qt2ECJT6AVBO2D9NGlLnWL7oj1Fb1L75_4-zig" style="width:100%">
	</div>
</div>
</div>

